<header class="masthead" style="background-image: url('images/hotel-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-10 mx-auto">
                <div class="page-heading">
                    <h1>Information on {{ vm.hotel.name }}</h1>
                    <span class="subheading">
                        <hotel-rating stars="vm.stars"></hotel-rating>
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>
<div>
    <div class="container position-left">
        <h1 class="stroke-title">Short description:</h1>
        <p>{{ vm.hotel.description }}</p>
        <h1 class="stroke-title">Services Available:</h1>
        <p>
            <ul>
                <li ng-repeat="service in vm.hotel.services">{{ service }}</li>
            </ul>
        </p>
        <h1 class="stroke-title">Reviews:</h1>
        <p>
            <ul class="list-style">
                <li class="pencil" ng-repeat="review in vm.hotel.reviews">
                    <strong>{{ review.name }}</strong> says: {{ review.review }}
                </li>
            </ul>
        </p>
        <hr>
        <div ng-if="!vm.isLoggedIn()">
            <p>Please login to leave a review.</p>
        </div>
    </div>
    <div ng-if="vm.isLoggedIn()">
        <div>
            <p class="position-left">
                <i>Leave your review here:</i>
            </p>
        </div>
        <div class="form-div position-left">
            <form name="vm.reviewForm" class="form" ng-submit="vm.addReview()">
                <p class="rate">Your rating:</p>
                <input type="number" name="rating" required ng-pattern="/^[1-5]$/" ng-model="vm.rating">
                <div class="rate" ng-show="vm.reviewForm.rating.$dirty && vm.reviewForm.rating.$invalid && vm.isSubmitted">
                    <p class="rate">Rating must be between 1 and 5</p>
                </div>
                <br>
                <p class="rate">Your review:</p>
                <textarea name="review" required ng-model="vm.review" rows="4" cols="45"></textarea>
                <div class="rate" ng-show="vm.reviewForm.review.$dirty && vm.isSubmitted">
                    <p class="rate">Please add a review</p>
                </div>
                <br>
                <div class="btn-container">
                    <button type="submit" class="btn margin">Add review</button>
                </div>
            </form>
        </div>
    </div>
</div>