<nav ng-controller="LoginController as vm" class="navbar navbar-default navbar-fixed-top" ng-init="vm.init()">
  <div class="container123">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
        aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>      
    </div>
    <a class="navbar-brand nav-margin position-left" href="#/"><i>Nicole's Blog</i></a>
    <div id="navbar" class="collapse navbar-collapse">
      <div class="container123">
        <ul class="nav navbar-nav ml-auto">
          <li ng-class="vm.isActiveTab('')" class="nav-item nav-margin">
            <a href="#/" class="nav-link">Home</a>
          </li>
          <li ng-class="vm.isActiveTab('hotels')" class="nav-item nav-margin">
            <a href="#/hotels" class="nav-link">Hotels</a>
          </li>
          <li ng-class="vm.isActiveTab('recipes')" class="nav-item nav-margin">
            <a href="#/recipes" class="nav-link">Recipes</a>
          </li>
          <li ng-class="vm.isActiveTab('quotes')" class="nav-item nav-margin">
            <a href="#/quotes" class="nav-link">Quotes</a>
          </li>
          <li ng-class="vm.isActiveTab('contact ')" class="nav-item nav-margin">
              <a href="#/contact" class="nav-link">Contact Me</a>
            </li>          
          <li ng-class="vm.isActiveTab('register')" ng-if="!vm.isLoggedIn()" class="nav-item nav-margin">
            <a href="#/register" class="nav-link">Register</a>
          </li>
          <li ng-class="vm.isActiveTab('profile')" ng-if="vm.isLoggedIn()" class="nav-item nav-margin">
            <a href="#/profile" class="nav-link">Profile</a>
          </li>
        </ul>
        <form ng-if="!vm.isLoggedIn()" class="navbar-form navbar-right" role="login" ng-submit="vm.login()" style="margin-right:80px;">
          <div class="form-group" ng-class="{'has-error': vm.error}">
            <input type="text" class="form-control" placeholder="Username" ng-model="vm.username" autocapitalize="none" required> 
          </div>
          <div class="form-group" ng-class="{'has-error': vm.error}">
            <input type="password" class="form-control" placeholder="Password" ng-model="vm.password" autocapitalize="none" required>
          </div>
          <button type="submit" class="btn btn-sm btn-success">Login</button>
        </form>
        <ul ng-if="vm.isLoggedIn()" class="nav navbar-nav navbar-right">
          <li>
            <p class="navbar-text">Welcome back, {{ vm.getUsername() }}</p>
          </li>
          <li>
            <button class="navbar-btn btn" ng-click="vm.logout()" style="margin-right:80px;">Logout</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>