<h1>Information on {{ vm.recipe.name }}</h1>
<h1>Short description:</h1>
<p>{{ vm.recipe.name }}</p>
<img  src="{{ vm.recipe.imageURL }}" onerror="this.src='/images/delicious.jpg'" class="recipe"/>
<p>
    <ul>
        <li ng-repeat="step in vm.recipe.steps">{{ step }}</li>
   </ul>
</p>
<h1>Comments:</h1>
<p>
   <ul>
       <li ng-repeat="comment in vm.recipe.comments">{{ comment.name }} says: {{ comment.comment }}</li>
   </ul>
</p>
<div ng-if="vm.isLoggedIn()">
<form name="vm.commentForm" ng-submit="vm.addComment()">  
   Your rating: <input type="number" name="rating" required ng-pattern="/^[1-5]$/" ng-model="vm.rating">
   <div ng-show="vm.commentForm.rating.$dirty && vm.commentForm.rating.$invalid && vm.isSubmitted">
       <p>Rating must be between 1 and 5</p>
   </div>
   Your review: <textarea name="comment" required ng-model="vm.comment"></textarea>
       <div ng-show="vm.commentForm.review.$dirty && vm.isSubmitted">
           <p>Please add a comment</p>
       </div>
       <button type="submit" class="btn">Add comment</button>
</form>